name: Build Simple

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v4
      
      - name: Log in to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and Push
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository }}/reclaim-witness-tee
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          VERSION=latest
          echo "IMAGE_ID=$IMAGE_ID"
          echo "VERSION=$VERSION"
          
          docker build . --file witness-server/Dockerfile --tag $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION
